    /*Sobre mi*/

    
    section.about-me{
        display: flex;
        height: 626px;
        padding-top: 147px;

        div.aboutme-oval{
            width: 60%;
            margin-left: 20%;
            width: 700px;
            height: 460px;
            background: #FFFFFF;
            border-radius: 0px 80px;

            h2{
                font-family: 'Bellota Text';
                color: black;  
                margin-top: 30px; 
                margin-left: 30px;

            }

            p{
            color: rgb(32, 32, 32);
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 20px;
            }

            ul{
                li{
                    margin-left: 30px;
                }
            }
        }

        div.aboutme-img-circle{
            img{
                width: 351px;
                height: 450px;
                margin-left: -94px;
                margin-top: -101px;
            }

            div{
                width: 190px;
                height: 190px;
                position: relative;
                background-color: #ffffff;
                border-radius: 50%;
                border: 16px solid #F79F8F;
                text-align: center;
                font-style: italic;
                display: flex;
                align-items: center;
                margin-top: -82px;
                margin-left: -34px;
                z-index: 2;

                p{
                    font-size: 14px;
                    margin: 4px;
                }
            }
        }
    }
    
    .vector-rosa{
        width: 100%;
        height: 340px;
        margin-top: -140px;
        margin-bottom: -100px;
    }


    /*VERSION MOBILE*/
    @media screen and (max-width: 480px){
        
        
        /*SECCION ABOUT ME*/
        
        section.about-me{
            width: 100%;
            height: 285px;
            padding-top: 50px;
            font-size: 12px;
    
            div.aboutme-oval{
                margin-left: 7%;
                width: 214px;
                height: 204px;
                overflow-y: auto;
                border-radius: 0px 41px;
    
                h2{
                    font-size: 16px;
                }

                p{
                    margin-left: 26px;
                    margin-right: 26px;
                    margin-top: 10px; 
                }
            }
    
            div.aboutme-img-circle{
               
                img{
                    width: 191px;
                    height: 250px;
                    object-fit: contain;
                    margin-left: -53px;
                    margin-top: -18px;
                }
    
                div{
                    z-index: 2;
                    margin-left: -30px;
                    margin-top: -98px;
                    width: 120px;
                    height: 120px;
                    border: 10px solid #F79F8F;
    
                    p{
                        font-size: 12px;
                        margin: 4px;
                    }
                }
            }
        }
        
        .vector-rosa{
            height: 112px;
        }
    }


/*FIN SECCION ABOUT ME*/